@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --bg-color: #1e1e2e;
}

:root {
  background-color: var(--bg-color);
}

.grid-lines {
  @apply border border-solid border-white/10;
}

.p-inputnumber-button {
  @apply bg-slate-900/50!;
}

#p-license-host {
  display: none !important;
}
